* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

h1 {
    display: fixed;
    text-align: center;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    border-style: double;
}

h2 {
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    border: solid darkblue;
    display: center;
}

.title {
    color: rgb(48, 52, 177);
    text-align: center;
    margin-top: 30px;
}

#img {
    margin-top: 30px;
    margin-bottom: 30px;

}

.text {
    display: block

}

.text-center {
    margin: 20px;
    display: inline-block;

}

footer {
    text-align: center;
    margin-top: 30px;
}